.DS_Store
node_modules

dist
dist-ssr
*.local
.eslintcache

# Editor files
.vscode
.history
.lh
.idea

# Pkg managers
.yarn

# local dev files
/goserver/credentials
/goserver/goserver

# Other
*debug.log
.vercel
